In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [25]:
# df=pd.read_csv("transactions2018.csv")
# df.head()
xlsx = pd.ExcelFile('transactions18withreceiver.xlsx')
df = pd.read_excel(xlsx)
df.head()

,index,Account_No,DATE,TRANSACTION_DETAILS,WITHDRAWAL_AMT,DEPOSIT_AMT,BALANCE_AMT,year,month,day,type,AMOUNT,receiver_Account
0,0,409000611074',2018-01-01,INDO GIBL Indiaforensic STL31121,14000.0,0.0,697823.0,2018,1,1,PAYEMENT,14000.0,M1979787155
1,1,409000611074',2018-01-01,INDO GIBL Indiaforensic STL30121,54250.0,0.0,643573.0,2018,1,1,DEBIT,54250.0,M2044282225
2,2,409000611074',2018-01-02,INDO GIBL Indiaforensic STL01011,147500.0,0.0,496073.0,2018,1,2,PAYEMENT,147500.0,C553264065
3,3,409000611074',2018-01-03,FDRL/INTERNAL FUND TRANSFE,0.0,500000.0,996073.0,2018,1,3,TRANSFER,500000.0,C38997010
4,4,409000611074',2018-01-03,INDO GIBL Indiaforensic STL02011,323500.0,0.0,672573.0,2018,1,3,PAYEMENT,323500.0,M1230701703

In [67]:
df1=df[(df["month"]==1)&(df["day"]==1)]

In [68]:
df1.shape

(57, 13)

In [29]:
# donow=pd.read_csv("donow.csv")
# donow.head()
# df["receiver_Account"]=donow["nameDest"][0:len(df)]

In [6]:
df["receiver_Account"]=donow["nameDest"][0:len(df)]

In [10]:
len(list(df["receiver_Account"].unique()))

21063

In [19]:
df.Account_No.unique()

array(["409000611074'", "409000493201'", "409000425051'", "409000405747'",
       "409000438611'", "409000493210'", "409000438620'", "1196711'",
       "1196428'", "409000362497'", 'A', 'B'], dtype=object)

In [49]:
df1[df1["Account_No"]=="409000405747'"].shape

(12, 13)

In [50]:
len(list(df1[df1["Account_No"]=="409000405747'"]["receiver_Account"].unique()))

12

In [69]:
nodes=pd.DataFrame()
clients=list(df.Account_No.unique())
nodes["id"]=clients
nodes["group"]=0

In [70]:
nodes

               id  group
0   409000611074'      0
1   409000493201'      0
2   409000425051'      0
3   409000405747'      0
4   409000438611'      0
5   409000493210'      0
6   409000438620'      0
7        1196711'      0
8        1196428'      0
9   409000362497'      0
10              A      0
11              B      0

In [71]:
nodes2=pd.DataFrame()
td=list(df1.receiver_Account.unique())
nodes2["id"]=td
# nodes2['group'] = np.arange([1,len(nodes2)])
nodes2['group'] = 1

In [55]:
# nodes2

In [72]:
nodes=pd.concat([nodes,nodes2], ignore_index=True)

In [73]:
nodes.to_csv ('nodesmo1day1receiver.csv', index = None, header=True)

In [74]:
clients=list(df['Account_No'].unique())
link=pd.DataFrame()

for acc in clients:

    df2=df1[df1["Account_No"]==acc]
    link1=pd.DataFrame()


    link1["target"]=list(df2['receiver_Account'].value_counts().index)
    link1["source"]=acc
    link1["value"]= list(df2['receiver_Account'].value_counts())
    link=pd.concat([link,link1], ignore_index=True)

In [75]:
link.to_csv ('linksmo1day1receiver.csv', index = None, header=True)

In [64]:
df.shape

(35720, 13)

In [65]:
# df.to_csv("transactions18withreceiver.csv", index = None, header=True)

In [66]:
# data=pd.read_csv("transactions18withreceiver.csv")