In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv("df18_ts.csv")
date=pd.to_datetime(df.DATE)
df["DATE"]=date
df.head()

,Account_No,DATE,index,year,month,day,withd_by_date,dep_by_date,Balance_updated
0,1196428',2018-01-01,15391,2018,1,1,35000000.00,35625026.51,-1.322909e+08
1,1196428',2018-01-02,15410,2018,1,2,59400000.00,59475597.57,-1.322153e+08
2,1196428',2018-01-03,15437,2018,1,3,43502723.23,53268900.67,-1.224491e+08
3,1196428',2018-01-04,15463,2018,1,4,40300000.00,35910802.21,-1.268383e+08
4,1196428',2018-01-05,15489,2018,1,5,44001591.01,44242137.04,-1.265977e+08

In [3]:
df.drop(["index","year","month","day"], axis=1, inplace=True)

In [4]:
#put date in index
df=df.set_index('DATE')
df.head()

           Account_No  withd_by_date  dep_by_date  Balance_updated
DATE
2018-01-01   1196428'    35000000.00  35625026.51    -1.322909e+08
2018-01-02   1196428'    59400000.00  59475597.57    -1.322153e+08
2018-01-03   1196428'    43502723.23  53268900.67    -1.224491e+08
2018-01-04   1196428'    40300000.00  35910802.21    -1.268383e+08
2018-01-05   1196428'    44001591.01  44242137.04    -1.265977e+08

In [5]:
# df1=df[df["Account_No"]=="409000611074'"]
# df1.head()

In [6]:
# df1.resample('M').median()

In [7]:
clients=list(df.Account_No.unique())

In [8]:
# clients

In [9]:
# df['Account_No'].isin(["409000405747'","409000425051'"])
df.drop(df[df['Account_No'].isin(["409000405747'","409000425051'"])].index, inplace=True)

In [10]:
clients=list(df.Account_No.unique())

In [11]:
clients

["1196428'",
 "1196711'",
 "409000362497'",
 "409000438611'",
 "409000438620'",
 "409000493201'",
 "409000493210'",
 "409000611074'",
 'A',
 'B']

In [12]:
df18_mo_agg=pd.DataFrame()
for acc in clients:

    df1=df[df["Account_No"]==acc]

    mini=df1.resample('M').min()
    mini.rename(columns={"withd_by_date": "min_mo_withd", "dep_by_date": "min_mo_dep", "Balance_updated": "min_mo_bal"}, inplace=True)

    maxi=df1.resample('M').max()
    maxi.drop(['Account_No'], axis=1, inplace=True)
    maxi.rename(columns={"withd_by_date": "max_mo_withd", "dep_by_date": "max_mo_dep", "Balance_updated": "max_mo_bal"}, inplace=True)


    mean=df1.resample('M').mean()
    mean.rename(columns={"withd_by_date": "mean_mo_withd", "dep_by_date": "mean_mo_dep", "Balance_updated": "mean_mo_bal"}, inplace=True)


    std=df1.resample('M').std()
    std.rename(columns={"withd_by_date": "std_mo_withd", "dep_by_date": "std_mo_dep", "Balance_updated": "std_mo_bal"}, inplace=True)


    median=df1.resample('M').median()
    median.rename(columns={"withd_by_date": "median_mo_withd", "dep_by_date": "median_mo_dep", "Balance_updated": "median_mo_bal"}, inplace=True)

    client=pd.concat([mini,maxi,mean,std,median], axis=1)

    df18_mo_agg=pd.concat([df18_mo_agg,client])

In [13]:
df18_mo_agg.reset_index(inplace=True)

In [14]:
df18_mo_agg

,DATE,Account_No,min_mo_withd,min_mo_dep,min_mo_bal,max_mo_withd,max_mo_dep,max_mo_bal,mean_mo_withd,mean_mo_dep,mean_mo_bal,std_mo_withd,std_mo_dep,std_mo_bal,median_mo_withd,median_mo_dep,median_mo_bal
0,2018-01-31,1196428',0.00,11800.00,-1.324844e+08,7.050107e+07,7.676025e+07,-1.179062e+08,4.336817e+07,4.374797e+07,-1.288246e+08,1.523759e+07,1.719442e+07,4.535106e+06,4.350247e+07,4.096349e+07,-1.316899e+08
1,2018-02-28,1196428',8850000.00,4171550.00,-1.325141e+08,1.433929e+08,1.077844e+08,-9.608335e+07,5.761109e+07,5.730030e+07,-1.281598e+08,2.936661e+07,2.528684e+07,8.338351e+06,5.726484e+07,6.136723e+07,-1.316074e+08
2,2018-03-31,1196428',0.00,11800.00,-1.314762e+08,1.097728e+08,8.238407e+07,-9.049938e+07,3.774675e+07,3.781889e+07,-1.265756e+08,2.262004e+07,2.104415e+07,8.195959e+06,3.719325e+07,3.685906e+07,-1.284546e+08
3,2018-04-30,1196428',7359497.00,6539696.00,-1.619139e+08,8.695099e+07,9.630196e+07,-1.420912e+08,5.366369e+07,5.208304e+07,-1.587667e+08,1.776552e+07,1.870633e+07,4.670422e+06,5.326469e+07,5.136008e+07,-1.608006e+08
4,2018-05-31,1196428',0.00,49997.00,-1.614750e+08,8.879109e+07,9.469085e+07,-1.282176e+08,5.076587e+07,5.090586e+07,-1.575874e+08,1.987109e+07,2.086618e+07,7.789531e+06,5.194091e+07,4.910853e+07,-1.610242e+08
5,2018-06-30,1196428',0.00,166000.00,-1.712369e+08,9.029266e+07,9.959331e+07,-1.423302e+08,4.503050e+07,4.487223e+07,-1.589037e+08,2.304635e+07,2.456862e+07,6.962412e+06,4.780660e+07,4.511787e+07,-1.598744e+08
6,2018-07-31,1196428',0.00,70070.00,-1.613362e+08,7.938102e+07,1.012862e+08,-1.350624e+08,5.101878e+07,5.125384e+07,-1.568692e+08,1.583154e+07,1.892303e+07,5.730003e+06,5.118910e+07,4.859375e+07,-1.592534e+08
7,2018-08-31,1196428',0.00,190165.00,-1.604859e+08,7.784644e+07,8.062382e+07,-1.384429e+08,4.442583e+07,4.432929e+07,-1.574650e+08,1.806119e+07,2.084959e+07,5.192665e+06,4.481664e+07,4.318894e+07,-1.598462e+08
8,2018-09-30,1196428',0.00,100000.00,-1.604165e+08,7.091373e+07,8.332487e+07,-1.478827e+08,3.932727e+07,3.955048e+07,-1.582624e+08,1.633854e+07,1.792101e+07,3.137876e+06,3.733671e+07,3.646760e+07,-1.595196e+08
9,2018-10-31,1196428',6000000.00,13372899.00,-1.548687e+08,9.059875e+07,6.954159e+07,-1.086293e+08,3.992005e+07,3.997317e+07,-1.483973e+08,2.021402e+07,1.524206e+07,1.148660e+07,4.264013e+07,3.976869e+07,-1.531769e+08
10,2018-11-30,1196428',6453627.47,5000000.00,-1.542179e+08,7.342968e+07,9.149564e+07,-1.157430e+08,3.711751e+07,3.821918e+07,-1.429433e+08,2.050102e+07,2.305021e+07,1.058149e+07,3.239198e+07,3.609948e+07,-1.471411e+08
11,2018-12-31,1196428',53790.00,8765900.00,-1.519321e+08,6.261789e+07,6.875184e+07,-1.282920e+08,2.948613e+07,3.005678e+07,-1.455474e+08,1.810750e+07,1.628463e+07,7.022270e+06,2.660863e+07,2.880950e+07,-1.477306e+08
12,2018-01-31,1196711',0.00,196.50,-8.584232e+08,4.989046e+06,5.005905e+06,-8.533601e+08,4.220824e+05,3.920104e+05,-8.542790e+08,1.321896e+06,1.286969e+06,1.164578e+06,0.000000e+00,1.815833e+04,-8.540523e+08
13,2018-02-28,1196711',0.00,4511.37,-8.584045e+08,5.704579e+07,5.704579e+07,-8.032998e+08,6.416884e+06,9.033888e+06,-8.369801e+08,1.734640e+07,1.982243e+07,2.573116e+07,0.000000e+00,2.304534e+04,-8.534535e+08
14,2018-03-31,1196711',0.00,11.99,-8.542374e+08,5.036686e+07,5.039431e+07,-7.976374e+08,6.068326e+06,5.855631e+06,-8.063305e+08,1.306573e+07,1.302886e+07,1.099463e+07,1.800000e+06,3.000049e+06,-8.039526e+08
15,2018-04-30,1196711',0.00,0.00,-8.133301e+08,4.236059e+06,1.054077e+07,-7.957126e+08,2.837478e+05,9.186599e+05,-8.096583e+08,9.631458e+05,2.742012e+06,5.618061e+06,0.000000e+00,4.266069e+04,-8.128016e+08
16,2018-05-31,1196711',0.00,3964.60,-8.045356e+08,4.782825e+07,5.079753e+07,-7.490708e+08,2.727078e+06,2.527647e+06,-7.602511e+08,9.905053e+06,1.056558e+07,1.961217e+07,0.000000e+00,5.617065e+04,-7.514491e+08
17,2018-06-30,1196711',0.00,8646.76,-1.249794e+09,4.611671e+08,1.293725e+07,-8.008076e+08,2.132856e+07,1.089526e+06,-9.026939e+08,9.824590e+07,2.878646e+06,1.913345e+08,0.000000e+00,4.600883e+04,-8.010757e+08
18,2018-07-31,1196711',0.00,7441.81,-1.260846e+09,1.287005e+07,2.006490e+07,-1.242991e+09,1.722749e+06,1.666375e+06,-1.252010e+09,3.897179e+06,4.811561e+06,6.944219e+06,0.000000e+00,8.324257e+04,-1.251068e+09
19,2018-08-31,1196711',0.00,262.90,-1.252698e+09,7.698259e+06,4.018583e+06,-1.245037e+09,4.655537e+05,3.840609e+05,-1.249825e+09,1.739828e+06,1.081812e+06,2.175506e+06,0.000000e+00,3.560296e+04,-1.250622e+09
20,2018-09-30,1196711',0.00,10.81,-1.252694e+09,2.315229e+04,4.600000e+06,-1.245037e+09,2.012133e+03,6.403570e+05,-1.250252e+09,6.663399e+03,1.516310e+06,3.347946e+06,0.000000e+00,4.149575e+03,-1.252634e+09
21,2018-10-31,1196711',0.00,86.38,-1.268331e+09,9.090579e+07,9.340579e+07,-1.265800e+09,7.575482e+06,8.210009e+06,-1.266046e+09,2.624224e+07,2.686801e+07,7.199141e+05,0.000000e+00,1.265842e+04,-1.265839e+09
22,2018-11-30,1196711',0.00,38.95,-9.193014e+08,0.000000e+00,2.013095e+06,-9.109504e+08,0.000000e+00,8.351135e+05,-9.165459e+08,0.000000e+00,9.296175e+05,3.025630e+06,0.000000e+00,5.080746e+05,-9.172533e+08
23,2018-12-31,1196711',0.00,0.00,-9.256660e+08,2.000000e+06,2.000000e+06,-9.106660e+08,5.000000e+05,1.200000e+06,-9.158160e+08,1.000000e+06,9.092121e+05,6.747592e+06,0.000000e+00,1.400000e+06,-9.134660e+08
24,2018-01-31,409000362497',5137198.20,7000000.00,-2.159968e+08,5.227677e+07,5.500000e+07,-2.028541e+08,2.799497e+07,2.798213e+07,-2.101483e+08,8.694309e+06,9.123087e+06,3.802122e+06,2.738690e+07,2.680000e+07,-2.104815e+08
25,2018-02-28,409000362497',8168247.89,0.00,-2.206023e+08,5.167181e+07,8.500000e+07,-1.449953e+08,2.624874e+07,2.789518e+07,-1.860499e+08,9.977157e+06,1.856746e+07,2.220520e+07,2.435567e+07,2.700000e+07,-1.897439e+08
26,2018-03-31,409000362497',0.00,0.00,-2.021561e+08,3.317979e+07,2.700000e+07,-1.627851e+08,1.376699e+07,1.292517e+07,-1.880853e+08,6.767518e+06,6.368475e+06,1.125916e+07,1.227861e+07,1.200000e+07,-1.925963e+08
27,2018-04-30,409000362497',0.00,102000.00,-2.432158e+08,3.848634e+07,5.546302e+07,-1.951940e+08,2.096452e+07,2.035825e+07,-2.213288e+08,8.956461e+06,1.154724e+07,1.409250e+07,2.061003e+07,1.919474e+07,-2.283894e+08
28,2018-05-31,409000362497',0.00,1400000.00,-2.111747e+08,4.096351e+07,3.360000e+07,-1.806100e+08,1.594564e+07,1.600129e+07,-2.031378e+08,8.229808e+06,6.354469e+06,8.122851e+06,1.533725e+07,1.576652e+07,-2.062302e+08
29,2018-06-30,409000362497',20500.00,0.00,-2.074379e+08,3.808116e+07,4.040000e+07,-1.805716e+08,1.926049e+07,1.942295e+07,-2.014936e+08,8.260769e+06,8.363781e+06,7.867040e+06,1.695809e+07,1.764539e+07,-2.047381e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2018-07-31,409000611074',137240.00,0.00,9.290200e+05,8.147260e+05,1.100000e+06,2.039366e+06,4.907444e+05,4.909091e+05,1.384696e+06,1.797082e+05,3.462852e+05,2.766645e+05,4.862175e+05,5.000000e+05,1.449270e+06
91,2018-08-31,409000611074',111390.00,0.00,9.234200e+05,1.254681e+06,1.200000e+06,1.997725e+06,4.677638e+05,4.652174e+05,1.412281e+06,2.542237e+05,3.868388e+05,2.419134e+05,3.751100e+05,4.000000e+05,1.409084e+06
92,2018-09-30,409000611074',0.00,0.00,7.228680e+05,7.837410e+05,1.500000e+06,1.810391e+06,4.491385e+05,4.062500e+05,1.231648e+06,2.083748e+05,4.905354e+05,3.134383e+05,4.586090e+05,2.500000e+05,1.239006e+06
93,2018-10-31,409000611074',56480.00,0.00,6.443560e+05,9.439150e+05,1.500000e+06,1.697002e+06,4.352516e+05,4.888889e+05,1.146197e+06,2.445322e+05,4.600369e+05,2.480459e+05,4.008625e+05,5.000000e+05,1.143623e+06
94,2018-11-30,409000611074',0.00,0.00,8.557230e+05,1.043104e+06,1.100000e+06,1.808829e+06,4.957505e+05,4.850000e+05,1.231516e+06,2.863705e+05,3.199918e+05,2.706102e+05,4.833660e+05,5.000000e+05,1.184472e+06
95,2018-12-31,409000611074',141460.00,0.00,9.461420e+05,8.723580e+05,1.000000e+06,1.748682e+06,4.487559e+05,4.315789e+05,1.364616e+06,2.000677e+05,2.829461e+05,2.087869e+05,4.283920e+05,5.000000e+05,1.333331e+06
96,2018-01-31,A,0.00,0.00,1.000000e+04,6.000000e+03,1.000000e+04,2.000000e+04,2.166667e+03,1.666667e+03,1.491667e+04,2.250926e+03,4.082483e+03,4.054833e+03,1.500000e+03,0.000000e+00,1.425000e+04
97,2018-02-28,A,0.00,0.00,6.000000e+03,5.500000e+03,1.000000e+04,1.700000e+04,2.600000e+03,2.000000e+03,1.190000e+04,1.981161e+03,4.472136e+03,4.642198e+03,2.500000e+03,0.000000e+00,1.150000e+04
98,2018-03-31,A,0.00,0.00,-4.500000e+03,1.100000e+04,1.000000e+04,1.000000e+04,4.100000e+03,2.000000e+03,5.200000e+03,4.449719e+03,4.472136e+03,5.696490e+03,2.000000e+03,0.000000e+00,6.500000e+03
99,2018-04-30,A,0.00,0.00,-8.600000e+03,6.000000e+03,1.000000e+04,1.400000e+03,2.820000e+03,2.000000e+03,-3.900000e+03,2.371076e+03,4.472136e+03,4.345112e+03,3.400000e+03,0.000000e+00,-4.200000e+03
100,2018-05-31,A,0.00,0.00,-1.250000e+04,7.300000e+03,1.500000e+04,2.500000e+03,1.985714e+03,2.142857e+03,-6.957143e+03,2.420350e+03,5.669467e+03,5.680920e+03,1.100000e+03,0.000000e+00,-8.900000e+03
101,2018-06-30,A,0.00,0.00,-1.400000e+04,6.000000e+03,1.200000e+04,-2.000000e+03,2.062500e+03,1.500000e+03,-6.887500e+03,2.186280e+03,4.242641e+03,3.736093e+03,1.100000e+03,0.000000e+00,-6.800000e+03
102,2018-07-31,A,0.00,0.00,-1.240000e+03,9.400000e+03,2.000000e+04,1.076000e+04,3.142857e+03,4.571429e+03,4.560000e+03,3.069754e+03,8.141604e+03,4.718757e+03,2.760000e+03,0.000000e+00,4.600000e+03
103,2018-08-31,A,0.00,0.00,-6.400000e+03,7.800000e+03,1.500000e+04,8.600000e+03,4.080000e+03,4.200000e+03,-1.600000e+02,2.981946e+03,6.572671e+03,5.541480e+03,3.600000e+03,0.000000e+00,-4.000000e+02
104,2018-09-30,A,3240.00,0.00,-1.644000e+04,9.000000e+03,0.000000e+00,-4.000000e+02,6.260000e+03,0.000000e+00,-7.120000e+03,3.172129e+03,0.000000e+00,6.847131e+03,6.400000e+03,0.000000e+00,-5.820000e+03
105,2018-10-31,A,0.00,0.00,-1.594000e+04,1.450000e+04,1.600000e+04,7.240000e+03,2.886667e+03,4.333333e+03,-6.486667e+03,5.713936e+03,6.976150e+03,7.576233e+03,7.500000e+02,0.000000e+00,-7.760000e+03
106,2018-11-30,A,0.00,0.00,-5.800000e+03,6.000000e+03,1.600000e+04,1.020000e+04,2.171429e+03,2.285714e+03,1.742857e+02,2.121379e+03,6.047432e+03,6.575842e+03,2.040000e+03,0.000000e+00,-2.560000e+03
107,2018-12-31,A,0.00,0.00,-8.020000e+03,7.800000e+03,2.000000e+04,1.198000e+04,2.676667e+03,3.333333e+03,-1.433333e+03,2.729642e+03,8.164966e+03,7.209878e+03,1.980000e+03,0.000000e+00,-3.050000e+03
108,2018-01-31,B,0.00,0.00,4.500000e+04,3.000000e+04,6.000000e+04,1.050000e+05,1.016667e+04,1.000000e+04,7.266667e+04,1.112505e+04,2.449490e+04,2.445131e+04,6.000000e+03,0.000000e+00,7.200000e+04
109,2018-02-28,B,0.00,0.00,4.700000e+04,3.500000e+04,6.000000e+04,1.070000e+05,1.160000e+04,1.200000e+04,6.920000e+04,1.446720e+04,2.683282e+04,2.716984e+04,5.000000e+03,0.000000e+00,5.400000e+04
110,2018-03-31,B,0.00,0.00,4.200000e+04,3.000000e+04,6.000000e+04,1.020000e+05,1.300000e+04,1.200000e+04,6.960000e+04,1.109054e+04,2.683282e+04,2.575461e+04,1.000000e+04,0.000000e+00,6.100000e+04
111,2018-04-30,B,0.00,0.00,4.720000e+04,1.600000e+04,6.000000e+04,1.072000e+05,4.133333e+03,1.000000e+04,6.483333e+04,6.042075e+03,2.449490e+04,2.553755e+04,1.500000e+03,0.000000e+00,5.020000e+04
112,2018-05-31,B,0.00,0.00,2.370000e+04,3.000000e+04,6.000000e+04,1.012000e+05,9.277778e+03,6.666667e+03,6.214444e+04,9.705382e+03,2.000000e+04,2.515880e+04,6.000000e+03,0.000000e+00,5.720000e+04
113,2018-06-30,B,700.00,0.00,2.200000e+04,3.000000e+04,6.000000e+04,7.700000e+04,9.528571e+03,8.571429e+03,4.550000e+04,1.023828e+04,2.267787e+04,2.342399e+04,5.000000e+03,0.000000e+00,3.470000e+04
114,2018-07-31,B,0.00,0.00,-3.000000e+03,3.300000e+04,6.000000e+04,6.100000e+04,1.142857e+04,8.571429e+03,2.500000e+04,1.081445e+04,2.267787e+04,2.520582e+04,9.000000e+03,0.000000e+00,1.800000e+04
115,2018-08-31,B,0.00,0.00,-2.400000e+04,4.000000e+04,6.000000e+04,4.900000e+04,1.760000e+04,1.600000e+04,3.200000e+03,1.884940e+04,2.607681e+04,3.101935e+04,7.000000e+03,0.000000e+00,-1.100000e+04
116,2018-09-30,B,0.00,0.00,-2.700000e+04,6.400000e+04,1.500000e+04,-1.200000e+04,2.125000e+04,3.750000e+03,-1.875000e+04,2.895255e+04,7.500000e+03,6.652067e+03,1.050000e+04,0.000000e+00,-1.800000e+04
117,2018-10-31,B,0.00,0.00,-2.200000e+04,3.000000e+04,6.000000e+04,3.800000e+04,1.220000e+04,1.200000e+04,2.200000e+03,1.215319e+04,2.683282e+04,2.563591e+04,7.000000e+03,0.000000e+00,-1.000000e+04
118,2018-11-30,B,0.00,0.00,-1.700000e+04,3.000000e+04,6.000000e+04,4.300000e+04,9.166667e+03,1.000000e+04,6.666667e+03,1.172035e+04,2.449490e+04,2.487301e+04,4.000000e+03,0.000000e+00,4.000000e+03
119,2018-12-31,B,0.00,0.00,-3.500000e+04,3.300000e+04,9.000000e+04,9.200000e+04,9.750000e+03,1.587500e+04,8.625000e+03,1.153566e+04,3.262969e+04,4.444238e+04,5.000000e+03,0.000000e+00,-1.250000e+04

In [15]:
# df18_mo_agg[df18_mo_agg.Account_No.isnull()]

In [16]:
# df18_mo_agg[30:60]

In [17]:
# mean_mo_bal[mean_mo_bal.Account_No.isnull()]

In [18]:
mean_mo_bal=df18_mo_agg[["DATE","Account_No", "mean_mo_withd"]]

In [19]:
mean_mo_bal.head()

        DATE Account_No  mean_mo_withd
0 2018-01-31   1196428'   4.336817e+07
1 2018-02-28   1196428'   5.761109e+07
2 2018-03-31   1196428'   3.774675e+07
3 2018-04-30   1196428'   5.366369e+07
4 2018-05-31   1196428'   5.076587e+07

In [20]:
# mean_mo_bal[mean_mo_bal.Account_No.isnull()]

In [21]:
#Traitement des variables catgoriques

# from sklearn.preprocessing import OneHotEncoder
# # # creating instance of one-hot-encoder
# enc = OneHotEncoder(handle_unknown='ignore')
# ## Variable client_type
# enc_df = pd.DataFrame(enc.fit_transform(mean_mo_bal[['Account_No']]).toarray())
# mean_mo_bal = mean_mo_bal.join(enc_df)
# #rename client_type categories

In [22]:
# mean_mo_bal.rename(columns={0: "1196428'", 1: "1196711'",2: "409000362497'", 3: "409000438611'", 4:"409000438620'",5:"409000493201'",6:"409000493210'",7:"409000611074'",8:"A",9:"B"}, inplace=True)

In [23]:
# mean_mo_bal

In [24]:
# cond=mean_mo_bal["1196428'"]==1.0
# mean_mo_bal["1196428'"]=mean_mo_bal["1196428'"].mask(cond,mean_mo_bal["mean_mo_withd"])
# client1=mean_mo_bal[mean_mo_bal["Account_No"]=="1196428'"]
# client1["1196428'"]=client1["mean_mo_withd"]
# client1

In [25]:
# for one client
# client2=mean_mo_bal[mean_mo_bal["Account_No"]=="1196711'"]
# # client2["1196711'"]=client2["mean_mo_withd"]
# # client2
# condition=mean_mo_bal["Account_No"]=="1196711'"
# column="1196711'"
# mean_mo_bal.loc[condition, column] =client2["mean_mo_withd"]

In [26]:
# for acc in clients:
#     client2=mean_mo_bal[mean_mo_bal["Account_No"]==acc]
#     # client2["1196711'"]=client2["mean_mo_withd"]
#     # client2
#     condition=mean_mo_bal["Account_No"]==acc
#     column=acc
#     mean_mo_bal.loc[condition, column] =client2["mean_mo_withd"]

In [42]:
clients

["1196428'",
 "1196711'",
 "409000362497'",
 "409000438611'",
 "409000438620'",
 "409000493201'",
 "409000493210'",
 "409000611074'",
 'A',
 'B']

In [28]:
# mean_mo_bal[mean_mo_bal["Account_No"]=="409000438611'"]

In [29]:
# mean_mo_bal["1196711'"==mean_mo_bal["Account_No"]]["1196711'"]=client2["mean_mo_withd"]
# condition=mean_mo_bal["Account_No"]=="1196711'"
# column="1196711'"
# mean_mo_bal.loc[condition, column] =client2["mean_mo_withd"]

In [30]:
# mean_mo_bal

In [31]:
# mean_mo_bal.to_csv("monthly_mean_balance.csv", index = None, header=True)

In [40]:
df18_mo_agg.sort_values(by='DATE',inplace=True)

In [41]:
df18_mo_agg.to_csv("monthly_aggregations.csv", index = None, header=True)

In [33]:
# pd.read_csv("monthly_aggregations.csv")

In [43]:
pd.read_csv("clients.csv")

,Account_No,number_of_transactions,mean_Balance_updated,std_ma_withd,maxWithd_month,Sex,age,client_type,Enterprise,Entrepreneur,foreign,salaried,moral,F,H,cluster
0,1196428',292,-1.474179e+08,5.341155e+06,2,moral,0,Enterprise,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,1196711',230,-9.820655e+08,5.205632e+06,6,F,47,Entrepreneur,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4
2,409000362497',290,-2.040205e+08,6.990117e+06,1,moral,0,Enterprise,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
3,409000405747',17,-1.537705e+08,0.000000e+00,9,F,54,foreign,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0
4,409000425051',8,-2.227130e+08,0.000000e+00,10,H,47,foreign,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0
5,409000438611',278,7.218580e+05,4.438132e+06,11,moral,0,Enterprise,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
6,409000438620',296,8.538172e+06,1.861725e+07,1,moral,0,Enterprise,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
7,409000493201',280,6.435686e+05,1.307848e+05,11,F,43,Entrepreneur,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2
8,409000493210',190,3.813132e+06,3.665135e+05,2,H,37,Entrepreneur,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5
9,409000611074',255,1.282278e+06,3.899669e+04,8,F,35,Entrepreneur,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2
10,A,73,2.347945e+02,3.279153e+02,10,F,40,salaried,0.0,0.0,0.0,1.0,1.0,0.0,0.0,3
11,B,75,3.637067e+04,1.545033e+03,9,H,38,salaried,0.0,0.0,0.0,1.0,0.0,1.0,0.0,3